/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century gothic, sans-serif;
} 

main{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
}

footer{
    width: 100%;
    height: 90px;
    display: flex;
    position: fixed;
    z-index: 2;
}

.colonna1{
    width: 45px;
    height: 100%;
    min-height: 480px;
    background-color:black;
    position: relative;
    
}

.logo1{
    width: 25px;
    margin-top: 5px;
    margin-left: 9px;
    margin-bottom: 15px;
}

.home,
.search,
.libreria{
    width: 20px;
    display: block;
    margin-bottom: 15px;
    margin-left: 11px;
}

.top {
    height: calc(100% - 100px);
}

.playlist {
    display: none;
}

.bottom {
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

.bottom #arrow{
    filter: invert(1);
    
    
}

#user{
    filter: invert(2);
    font-size: 25px;
    margin-top: 30px;
}

.colonna2 {
    width: calc(100% - 45px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
}

.call-to-action{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    width: calc(100% - 50px);
    height: 80px;
    z-index: 999;
    text-align: right;
    padding: 20px;
    background-color:#080B12;
}

.navlist{
    width: 100%;
}

.scelta{
    margin-top: 80px;
    display: flex;
}

.scelta ul li a{
    list-style: none;
    text-decoration: none;
    color:#7D7F84;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;

}

.logo2{
    display: none;
}


.btn{
    padding: 11px 35px;
    border-radius: 2em;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 9px;
    color: white;
    text-decoration: none;
    position: absolute;
    right: 10px;
}

.titolo h1{
    color: white;
    font-size: 22px;
    margin-left: 15px;
}

.container::after{
    content:"";
    display: table;
    clear: both;
}

.container{
    width: 97%;
    height: 100%;
    margin: 0 auto;
    margin-top: 30px;
    
}

.box{
    position: relative;
    width: calc(100%/ 2 - 10px);
    height: 31%;
    margin: 5px;
    float: left;
    text-align: center;
}

.box img{
    width: 100%;
    height: 75%;
    background-position: center;
}

.box h2{
    color: white;
    font-size: 13px;
}

.box span{
    color:#7D7F84;
    font-size: 11px;
}

footer .left{
    height: 100%;
    width: 30%;
    background-color:#282828;
}

footer .center{
    height: 100%;
    width: 40%;
    background-color:#282828 ;
}

footer .right{
    height: 100%;
    width: 30%;
    background-color:#282828;
}


/*sezione debug*/

/*media query*/
@media screen and (min-width: 480px){
    .colonna1 {
        width: 210px;
    }

    .colonna2 {
        width: calc(100% - 210px);
    }

    .call-to-action {
        width: calc(100% - 210px);
    }
    
    .logo1{
        display: none;
    }

    .logo2{
        width: 120px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 15px;
    }
} 